body{
    background-color:  #FFF9F9;
    color: rgba(0, 0, 0);

}
img{
    height: 180px;
    width: 180px;
}

hr{
    border-style: dotted none none ;
    border-width: 8px;
    border-color:  #fdedeb;
    width: 6%;
}

h1,h3{
    color: #D77FA1;
}
td{
    padding-left: 20px;
}