body{
    background-color: #FCE2DB;
    color: rgba(0, 0, 0);

}
img{
    height: 180px;
    width: 180px;
}

hr{
    border-style: dotted none none ;
    border-width: 8px;
    border-color:  #C9B0A9;
    width: 6%;
}

td{
    padding-left: 20px;
}